/* font family Raleway */

@import url("https://fonts.googleapis.com/css2?family=Belleza&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* font family Barlow */

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* ============= 01. Reset section ============= */

html,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html{
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

button:focus {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

select::-ms-expand {
  display: none;
}

label {
  font-weight: normal;
}

iframe {
  width: 100%;
}

/* ===== 02. Global Style ===== */
body {
  overflow-x: hidden;
}

h1 {
  font-size: 75px;
  font-weight: 800;
  line-height: 85px;
  font-family: "Raleway", sans-serif;
}

h2 {
  font-size: 45px;
  font-weight: 800;
  line-height: 51px;
  font-family: "Raleway", sans-serif;
}

h3 {
  font-size: 25px;
  font-weight: 800;
  line-height: 31px;
  font-family: "Raleway", sans-serif;
}

h4 {
  font-size: 22px;
  font-weight: 800;
  line-height: 28px;
  font-family: "Raleway", sans-serif;
}

h5 {
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  font-family: "Raleway", sans-serif;
}

h6 {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  font-family: "Raleway", sans-serif;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  font-family: "Barlow", sans-serif;
}

button {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  padding: 16px 38px 16px 38px;
  text-transform: capitalize;
  font-family: "Barlow", sans-serif;
}

a {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-transform: capitalize;
  font-family: "Barlow", sans-serif;
  text-decoration: none;
  transition: all 0.3s ease;
  color: #c9c3c3;
}

.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header-index {
  background-image: url("../Images/home/mario-gogh-VBLHICVh-lI-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

header {
  padding: 10px 0;
}
.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 15px;
  color: #d3c9c1;
}

.container-nav {
  gap: 70px;
}
.navbar-logo {
  margin-right: 25px;
}
.navbar-toggler {
  border: 1px solid #7436bb;
  background: linear-gradient(42deg, #7436bb 0.01%, #b520a3 100%);
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  display: none;
}
.navbar-toggler:hover {
  background: inherit;
}

.navbar-toggler span {
  color: #fff;
  font-size: 22px;
}
.navbar-nav {
  gap: 50px;
}
.nav-link {
  font-weight: 400;
  color: #d3c9c1;
}
.nav li a.active,
.nav-link:is(:hover, :focus-visible) {
  color: #f57c48;
}

.dropdown {
  position: relative;
}
.dropdown-toggle::after {
  content: "+";
  vertical-align: center;
  margin-left: 5px;
}
.dropdown-menu {
  position: absolute;
  padding: 30px;
  z-index: 9;
  display: none;
}

.dropdown:hover .dropdown-menu {
  display: block;
  width: 220px;
  padding: 15px 0 15px 0;
  border-radius: 10px;
  background-color: #3d0541;
  margin-left: -52px;
}
.dropdown-menu li {
  display: block;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #fff;
  width: 100%;
  padding: 10px 20px;
  cursor: pointer;
}
.dropdown-item::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  transition: all 0.3s ease-in-out;
  background-color: #b520a3;
  z-index: -1;
  top: 0;
  left: 0;
}
.dropdown-item:hover::before {
  width: 100%;
  background: #b520a3;
}
.dropdown-item:hover,
.dropdown-item:focus {
  color: #fff;
  background-color: inherit;
}
.dropdown-item {
  display: block;
  width: 100%;
}

.nav-right {
  gap: 40px;
}
.nav-right p {
  color: #d3c9c1;
}

.nav-right span {
  color: #f57c48;
}
.fa-magnifying-glass {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.nav-right .fa-magnifying-glass:active {
  color: #999;
  transform: scale(0.8);
}
.nav-right .fa-bars {
  color: #fff;
  font-size: 22px;
  background-color: #150803;
  padding: 7px 8px;
  border-radius: 50%;
  cursor: pointer;
}
.nav-right .fa-bars:active {
  transform: scale(0.9);
}
@media screen and (max-width: 880px) {
  .navbar-toggler {
    display: block !important;
  }
  .navbar-nav,
  .nav-right {
    display: none !important;
  }
  .container-nav {
    width: 100%;
    justify-content: space-between;
  }
}

/* Sidebar */

.sidepanel {
  background-color: #3d0f41;
  z-index: 10;
  position: fixed;
  width: 320px;
  height: 100vh;
  top: 0;
  left: -320px;
  overflow-x: hidden;
  transition: 0.5s;
  padding: 40px 20px 20px 20px;
}

.sidebar {
  justify-content: space-between;
}

.sidebar img {
  width: 100px;
}
.sidebar button {
  width: 44px;
  height: 44px;
  background: linear-gradient(42deg, #7436bb 0.01%, #b520a3 100%);
  padding: 10px 12px 10px 12px;
  margin-bottom: -15px;
  border-radius: 0.25rem;
  border: 1.5px solid #b520a3;
  color: #fff;
  cursor: pointer;
}
.sidebar button:hover {
  background: inherit;
}

.sidebar a {
  padding: 10px 0;
}

aside ul {
  padding: 0;
  display: flex;
  flex-direction: column;
}
aside ul li {
  margin: 15px 0;
}
aside li a {
  color: #d3c9c1;
  transition: 500ms;
  padding: 10px 0;
}

aside ul li a.active {
  color: #f57c48;
}
aside ul li a:hover {
  color: #f57c48;
  transition: 500ms;
}

aside .pages {
  font-weight: 500;
  color: #d3c9c1;
  margin: 11px 0 7px 0;
}

.collapse-btn {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.collapse-btn i {
  border: 1px solid #d3c9c1;
  padding: 7px 8px;
  border-radius: 40px;
}

.collapse-btn i:hover {
  border: 1px solid #f57c48;
}
.plus_collapse {
  margin: -52px 0 0 0;
  height: 45px;
}

#pages {
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}

.show {
  height: 500px !important;
  transition: height 0.34s ease;
}

/* Searchbar */
#search-bar {
  background-color: #000000a6;
  width: 100%;
  height: 0;
  position: fixed;
  display: flex;
  z-index: 2;
  border-radius: 0px;
  bottom: 0;
  transition: all 0.5s ease;
}

#search-bar div:first-child {
  position: absolute;
  width: 44px;
  height: 44px;
  right: 0;
  background: linear-gradient(42deg, #7436bb 0.01%, #b520a3 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  border: 1.5px solid #b520a3;
  color: #fff;
  margin: 30px;
  cursor: pointer;
}
#search-bar div:first-child:hover {
  background: inherit;
}

#search-bar form {
  border-radius: 50px;
  border: 1px solid #6d2f8a;
  background: #381a46;
  width: 50%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#search-bar form input {
  border-radius: 50px;
  background: #381a46;
  border: none;
  outline: none;
  padding: 10px 20px;
  color: #fff;
  font-size: 18px;
  width: 100%;
}

#search-bar form button {
  transition: all 0.3s ease;
  text-transform: uppercase;
}

/* //rightside header */
.header-right-sidebar {
  width: 355px;
  position: fixed;
  height: 100vh;
  top: 0;
  right: 0;
  /* right: -355px; */
  overflow-x: hidden;
  transition: 0.5s;
  padding: 60px 25px 20px 30px;
  z-index: 2;
  background: #d3c9c1;
}
/* <!-- end of header section -->


   <!-- Hero section -->>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.hero {

  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 172px 0 279px 0; 
}

.hero .container {
  position: relative;
}
.hero h1 {
  color: #eb9500;
  letter-spacing: 3.75px;
  text-transform: uppercase;
}

.hero-social-icon {
  position: absolute;
  left: 0;
  top: 0;
  flex-direction: column !important;
  justify-content: flex-start !important;
}

.hero-social-icon a {
  padding: 16px 38px 16px 38px !important;
}
.hero-social-icon a i {
  font-size: 30px;
  background: linear-gradient(0deg, #f54a48 0.5%, #fa982f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero-social-icon a i:hover {
  background: linear-gradient(0deg, #f54a48 0.5%, #fa982f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-social-icon hr {
  display: block;
  margin-top: 68px;
  opacity: 1;
  color: #fff;
  width: 110px;
  rotate: 90deg;
}

.center-data h3 {
  color: #fff;
  text-transform: uppercase;
}

/* btn_hover2 button effect for reuse */
.btn_hover1 {
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-radius: 50px;
  border: 1.5px solid #d12bec;
  color: #fff;
  z-index: 1;
  letter-spacing: 0.8px;
}

.btn_hpver2::before {
  content: "";
  border-radius: 50px;
  position: absolute;
  width: 0;
  height: 100%;
  transition: all 0.3s ease-in;
  background: linear-gradient(180deg, #ff7527 0%, #fabf28 100%);
  z-index: -1;
  top: 0;
  left: 0;
}
.btn_hpver2:hover::before {
  width: 100%;
  border-radius: 50px;
  background: linear-gradient(180deg, #ff7527 0%, #fabf28 100%);
}
.center-btn a {
  padding: 16px 38px 16px 38px;
}

/* //card section>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.feature {
  /* background-color: #150725; */
  background-color: #000;
  margin-bottom: -1px;
  position: relative;
}
.feature .flex {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
}

.header-card {
  margin-top: -145px;
  display: flex;
  flex: 0 0 auto;
  width: 25%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
}

.header-card div {
  border-radius: 20px;
  /* background:#FF9D23; */
  background: #fff;
  color: #000000;
  padding: 40px 30px;
  transition: all 0.4s ease;
}
.header-card div:hover {
  transform: scale(1.05);
  transition: all 0.4s ease;
}

.header-card .figure_img1 {
  width: 53px;
}

.header-card img {
  width: 60px;
}

.header-card h4 {
  width: 146px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  margin: 20px 0 12px 0;
}

/* card section end */

/* <!--  start logoipsum -->>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.logoipsum {
  /* background-color: #150725; */
  background-color: #000; 
  padding: 150px 0;
  margin-top: -1px;
}
.logoipsum-slider {
  margin-top: 35px;
}
.logoipsum h3 {
  letter-spacing: 1.25px;
  color: #fff;
  text-transform: uppercase;
}
.logoipsum img {
  width: 170px;
  margin: 0 auto;
}

.logoipsum .hr1 {
  opacity: 1;
  height: 2px;
  width: 60px;
  rotate: 90deg;
  margin: 0 auto 50px auto;
  background: rgba(255, 255, 255, 0.75);
}
.logoipsum .hr2 {
  opacity: 1;
  height: 2px;
  width: 60px;
  rotate: 90deg;
  margin: 70px auto 50px auto;
  background: rgba(255, 255, 255, 0.75);
}

/* about section>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.about {
  /* background: #3d0541; */
 background: #FBB428;
  padding: 100px 0;
}

.about-data {
  display: flex;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-1 * var(--bs-gutter-x));
  margin-left: calc(-1 * var(--bs-gutter-x));
}
.about hr {
  opacity: 1.25;
  height: 1px;
  /* color: #b520a3; */
  color: rgb(0, 0, 0);
  width: 60px;
  border: 1px solid;
}

.about-data h2 {
  margin: 20px 0;
  /* color: #fff; */
}
.about h5 {
  /* color: #fff; */

  font-weight: 400;
  font-family: "Barlow", sans-serif;
}
.about p {
  /* color: #fff; */
}

.about i {
  /* border: 2px solid #fa982f; */
  border: 2px solid #000000;
  border-radius: 50%;
  padding: 3px;
  font-size: 20px;
  /* background: linear-gradient(66deg, #f54a48 0.87%, #fa982f 100%); */
  -webkit-background-clip: text;

}

.about-data a {
  padding: 16px 38px 16px 38px !important;
}

.about-imgs {
  position: relative;
  background-image: url("../Images/bg/about-bg.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.about-imgs figure {
  /* background: linear-gradient(42deg, #7436bb 0.01%, #b520a3 100%); */
  width: fit-content;
  clip-path: circle(45% at 50% 50%);
  transition: all 0.8s ease;
}

.about-imgs figure:hover {
  transform: scale(1.05);
  transition: all 0.8s ease;
}
.about-imgs img {
  width: 80%;
  display: block;
  margin: auto;
  clip-path: circle(48% at 50% 50%);
}

.ab-count {
  flex-direction: column;
  text-align: center;
  /* background: linear-gradient(180deg, #ff7527 0%, #fabf28 100%); */
  background: #fff;
  color: #000;
  position: absolute;
  bottom: -18px;
  left: 118px;
  border-radius: 50%;
  width: 175px;
  height: 175px;
}

.ab-count h2 {
  margin: 0;
}

.about-hr {
  color: #fff;
  position: absolute;
  right: -50px;
  bottom: 25px;
  rotate: -90deg;
}

.about-hr hr {
  opacity: 1.25;
  height: 1px;
  border: 1px solid #ffffff;
  width: 60px;
}

.ab-count p {
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
}

.about-hr h6 {
  letter-spacing: 3.72px;
  text-transform: uppercase;
}

/* Portfolio section start >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.portfolio-1 {
  /* background-color: #150725; */
  background-color: #000;
  padding: 120px 0 120px 0;
  margin-top: -1px;
}

.porto-center {
  display: flex;
  text-align: left;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.porto-center .w-50 {
  width: 66%;
}
.porto-center h5 {
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.porto-center h2 {
  color: #fff;
}
.porto-center p {
  color: #d3c9c1;
  padding-right: 145px;
  margin-top: 1rem;
}
.portfolio-1 .gallary-hr1 {
  opacity: 1.25;
  height: 1px;
  color: #b520a3;
  width: 60px;
  border: 1px solid;
}

.porto-center hr {
  width: 100%;
  opacity: 1.25;
  height: 1px;
  color: #461f72;
  border: 1px solid;
}
.portfolio-1 .btn_hover1 {
  padding: 15px 30px;
  border: 1px solid #ff7527;
}
.porto-center .w-100 {
  width: 33%;
  flex: 0 0 auto;
}

/* gallary */
.gallary {
  background-image: url("../Images/bg/gallary-bg.png");
  background-color: #000000;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-bottom: 120px;
  position: relative;
  z-index: 1;
}
.gallary img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.gallary img[alt="sm_img"] {
  height: 200px;
}
.ga-bg {
  background-color: #000000;
  height: 300px;
}
.gallary span {
  /* background-color: #150725; */
  background-color: #000000;
  opacity: 0.8;
  width: 100% !important;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}
.gallary .container {
  margin-top: -390px;
  z-index: 1;
  position: relative;
 
}
.tab {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}
.tab button {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  background-color: inherit;
  color: #fff;
  border-radius: 10px;
}
.tab button.active {
  background: linear-gradient(11deg, #7436bb 0.01%, #b520a3 100%);
}

.tabcontent {
  display: none;
  /* display block for all data in html */
  padding: 6px 12px;
}

.tabcontent .w-100 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.gallary-hr h6 {
  letter-spacing: 3.72px;
  text-transform: uppercase;
  color: #fff;
}
.gallary-hr hr {
  opacity: 1;
  color: #fff;
  height: 2px;
  width: 60px;
}

/* services section>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.services-1 {
  /* background: #3d0f41; */
  background: #FBB428;
  padding: 120px 0;
}
.service-data {
  display: flex;
  flex-wrap: wrap;
}
.service-data{
  padding: 0 221px 0 0;
}

.services-1 h5{
  color: #000000;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.services-1 h2{
  color: #000000;
}
.services-1 p{
  color: #000000;
  position: relative;
  margin-bottom: 25px;

}
.services-1 .services_hr1{
  opacity: 1.25;
  height: 1px;
  color: #000000;
  width: 60px;
  border: 1px solid;
}
.services-1 hr{
  width: 100%;
  opacity: 1.25;
  height: 1px;
  color: #000000;
  border: 1px solid;
}

.services-1 .btn_hover1{
  padding: 15px 30px;
  border: 1px solid orange;

}
.service-card{
  border: 1px solid #b520a3;
  background: linear-gradient(11deg,#7436bb 0.01%, #b520a3 100%);
  box-shadow: 8px 18px 30px 0 rgba(0, 0,0, 0.2);
  padding: 40px 40px 30px 40px;
  width: 100%;
}

.service-card:hover{
  transform: scale(1.09);
  transition: all 0.4s ease-in-out;
}

.service-card a{
  color: #d3c9c1;
  display: flex;
  align-items: center;
  gap: 5px;
}

.service-card a:hover{
  font-weight: 700;
  color: #fff;
  gap: 8px;
}

.service-card h3{
    margin: 20px 0;
    color: #fff;
    letter-spacing: 1.25px;
}

.service-card img{
  object-fit: cover;
  margin: auto;
  display: block;
}

.service-card figure{
  background-color: #fff;
  box-shadow: 10px 17px 28px 0 rgba(0, 0,0, 0.3);
  border-radius: 10px;
  padding: 12px;
  width: 124px;
  height: 85px;
  display: flex;
}
.service-card img[alt="slider1"]{
  width: 65px;

}
.service-card img[alt="slider2"]{
  width: 65px;
}
.service-card img[alt="slider3"]{
  width: 65px;
}


/* Experience section >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


.experience{
 
  background-image: url('../Images/bg/Selective\ Yellow\ Playful\ Learn\ Something\ New\ Everyday\ Desktop\ Wallpaper.png');
  background-size: cover;
  background-position: center center;
  padding: 120px 0;
  position: relative;
  margin-top: -1px;
}

.experience::before{
  position: absolute;
  content: "";
  top: 26rem;
  background-image: url('../Images/bg/experience_cercle.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 30%;
  height: 39%;
  left: 32%;

}
  
.experience h5{
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.experience h2,
.experience p{
  color: #fff;
}

.exp-center p{
  padding: 0 221px 0 0;
}
.experience .exp-hr1{
  opacity: 1.25;
  height: 1px;
  color: #b520a3;
  width: 60px;
  border: 1px solid;
}

.experience hr{
  width: 100%;
  opacity: 1.25;
  height: 1px;
  color: #461f72;
  border: 1px solid;
  margin: 35px 0;
}

.experience .btn_hover1{
  padding: 15px 40px;
}

.experience_mask figure{
    width: fit-content;
    clip-path: circle(47% at 50% 50%);
    padding: 6px;
    background: linear-gradient(11deg, #7436bb 0.01%, #b520a3 100%);
    transition: all 0.8s ease;
}

.experience_mask figure:hover{
  transform: scale(1.05);
  transition: all 0.8s ease;
}

.experience-hr{
  color: #fff;
  position: absolute;
  left: -45px;
  bottom: 25px;
  rotate: -90deg;
}

.experience-hr h6{
  letter-spacing: 3.72px;
  text-transform: uppercase;

}

.experience-hr hr{
  width: 60%;
  opacity: 1.25;
  height: 1px;
  color: #fff;
  border: 1px solid;
  margin: 0;
}

.ex-card{
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 23px 30px 0 rgba(0, 0,0, 0.15);
  padding: 20px;
  z-index: 1;
}

.ex-card:hover{
  background: linear-gradient(11deg, #7436bb 0.01%, #b520a3 100%);
  transform: scale(1.05);
  transition: all 0.4s ease;
}
.ex-card p{
  color: #a9a7a7;
  margin-top: 10px;
  padding: 0;
  font-weight: 600;
}
.ex-card h4{
  color: #231f20;
}
.ex-card div:last-child{
  width: 100%;
}
.ex-card:hover.ex-card h3{
  color: #7436bb !important;
}
.ex-card:hover.ex-card .flex{
  background: #fff;
}
.ex-card .flex{
  border-radius: 50%;
  background: linear-gradient(11deg, #7436bb 0.01%, #b520a3 100%);
  color: #fff;
  width: 115px;
  padding: 29px 0;
}


/* work section >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


.work{
  background-image: url('../Images/bg/work-bg.jpg');
  background-size: cover;
  background-position: center center;
  padding: 120px 0;
  margin-top: -2px;
}

.work h5{
letter-spacing: 1px;
}
.work-para{
  color: #fff;
  padding: 0 290px;
}
.work-line{
  background-image: url('../Images/bg/work-line.png');
  background-size: 100% 100%;
  background-position: center;
  min-height: 242px;
  background-repeat: no-repeat;
  margin: 146px 25px 146px 25px;
}
.work-line div{
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(11deg, #7436bb 0.01%, #b520a3 100%);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 18px 0 32px 34px;
}

.work-line div:first-child{
  top: -66px;
  left: -30px;
  width: 196px;
  min-height: 196px;
}
.work-line div:nth-child(2){
  bottom: -70px;
  left: 260px;
  width: 180px;
  min-height: 180px;
}
.work-line div:nth-child(3){
  right: 260px;
  top: -66px;
  width: 196px;
  min-height: 196px;
}
.work-line div:last-child{
  right: -49px;
  bottom: -70px;
  width: 180px;
  min-height: 180px;
}
.work a{
  border: 1.5px solid #ff7527;
  padding: 15px 30px;
}

.work-hr{
  color: #fff;
  position: absolute;
  right: 0;
  rotate: -90deg;
}
.work-hr h6{
  letter-spacing: 3.72px;
  text-transform: uppercase;
}
.work-hr hr{
  opacity: 1.25;
  color: #fff;
  height: 1px;
  width: 60px;
  border: 1px solid;
}

/* team section >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.team{
  background-image: url('../Images/bg/Selective\ Yellow\ Playful\ Learn\ Something\ New\ Everyday\ Desktop\ Wallpaper.png');
   background-size: cover;
   background-position: center center;
   padding: 120px 0 0 0;
}
.team h5{
   color: #fff;
   letter-spacing: 1px;
   text-transform: uppercase;
}
.team h2{
   color: #fff;
   padding: 0 212px 0 0;
}
.team p{
   color: #d3c9c1;
   padding: 0 184px 0 0;
}

.team .team-hr1{
  opacity: 1.25;
  height: 1px;
  color: #b520a3;
  width: 60px;
  border: 1px solid;
}
.team a{
  padding: 15px 30px;
  border: 1.5px solid #ff8c4b;
}
.team-slider{
  overflow: hidden;
  display: flex;
}

.team-img{
  min-width: 304px;
  object-fit: cover;
  position: relative;
  background-repeat: no-repeat;
}
.team-img img{
  width: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
}
.overlay{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, #7436bb66 28%, #b520a378 68%);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}
.team-img:hover .overlay{
  height: 100%;
}
.overlay-text{
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}
.overlay-text h4{
  margin: 6px 0 15px 0;
}
.overlay-text i{
  color: #fff;
   font-size: 20px;
}
.overlay-text a{
  border: 1px solid #fff;
  border-radius: 50%;
}

.overlay-text a:hover{
  background-color: #fff;
}
.overlay-text a:hover i{
color: #150725;
}
.overlay-text .flex a:first-child{
  padding: 8px 13px !important;
}
.overlay-text .flex a:nth-child(2){
  padding: 9px 12px !important;
}
.overlay-text .flex a:last-child{
  padding: 9px 10px !important;
}

.team-btn{
  background: linear-gradient(0deg, #dd9c18 0%, #d8b714 100%);
  color: #fff;
  padding: 40px 20px;
  margin-top: 90px;
  text-transform: uppercase;
  
}


/* FAQ SECTION >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.faq{
  position: relative;
  background-image: url('../Images/bg/faq-bg.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 120px 0;
  z-index: 1;
}
.faq::before{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #000;
  top: 0;
  left: 0;
  opacity: 0.1;
}
.faq span{
    background-color: #000000;
    opacity: 0.6;
    width: 100% !important;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

.faq .text-center h2{
  color: #fff;
  padding: 0 55px 0 0;
  text-align: left;
}

.faq h5{
  color: #fff;
}

.faq .text-center p{
  color: #fff;
   padding: 0 123px 0 0;
   text-align: left;
}

.faq .faq-hr1{
  opacity: 1.25;
  height: 1px;
  color: #b520a3;
  width: 60px;
  border: 1px solid;
}

.accordion-button{
  position: relative;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  color: #231f20;
  font-weight: 700 !important;
  padding: 1rem 1.5rem;
  cursor: pointer;
}

.accordion-button img{
  transition: transform 0.3s ease-in-out
}
.accordion-collapse{
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.accordion-collapse p{
   color: #767676;
   padding: 15px;
   background-color: #fff;
} 


/* Blog Section >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.blog{
  /* background: #150725; */
  background: #FBB428;
  padding: 120px 0;
}

.blog h5{
  color: #000000;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.blog h2{
  color: #000000;
}
.blog p{
  color: #000000;
  padding: 0 296px 0 0;
}
.blog .blog-hr1{
opacity: 1.25;
 height: 1px;
 color: #b520a3;
 width: 60px;
 border: 1px solid;
}
.blog .btn_hover1{
  padding: 15px 30px;
  border: 1.5px solid #ff8c4b;
}

.blog-card{
  flex: 0 0 33.33%;
  overflow: hidden;
  padding-bottom: 20px;
}

.blog-card img{
  width: 100%;
  transition: all 0.4s ease;
}
.blog-card:hover img{
 transform: scale(1.05);
 opacity: .8;
 transition: all 0.4s ease;
}
.blog-card h4{
  color: #000000;
  margin: 18px 0;
  padding: 0 30px 0 0;
}
.blog-card a{
  padding: 0 0 11px 0 !important;
  border-bottom: 1px solid #000000;
  letter-spacing: 2px;
  /* background: linear-gradient(66.75deg, #fc3b38 0.87%, #d70400 100%); */
  background: #000000;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* footer Section >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

footer{
   background-image: url('../Images/home/yura-timoshenko-JVSNOoCsU4k-unsplash.jpg');
   /* background-color: rgb(216, 147, 29); */
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
  padding: 120px 0 0 0;
}

.footer-hr .flex{
    rotate: -90deg;
}
.footer-hr h6{
 color: #fff;
 letter-spacing: 3.72px;
 text-transform: uppercase;
}

.footer-hr h3{
   margin-top: 125px;
   color: #fff;
   letter-spacing: 1px;
}

.footer-hr p{
    color: #fff;
    padding: 0 300px;
    margin: 20px 0 30px 0;
}
.footer-hr hr{
  opacity: 1.25;
  height: 1px;
  color: #fff;
  width: 60px;
  border: 1px solid;
}
footer form{
  border-radius: 50px;
  border: 1px solid #6d2f8a;
  background: #381a46;
  width: 76%;
  margin: auto;
}

footer form input{
  border-radius: 50px;
  background: #381a46;
  border: none;
  outline: none;
  padding: 10px 20px;
  color: #fff;
  width: 68%;
}

footer form button{
  transition: all 0.3s ease;
  text-transform: uppercase;
}
footer form button:hover{
  color: #7436bb;
}
#footer-message{
  background: #fff;
  color: green;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding: 10px;
  font-size: 25px;
  font-weight: 800;
  text-align: center;
  font-family: "Raleway" , sans-serif;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 10;
  border-radius: 10px;
  transition: display all 0.3s ease;
  display: none;
}

.footer-menu{
  background: linear-gradient(0deg, #471133 0%, #140921 100%);
  color: #fff;
  padding: 50px 0;
  margin-top: 77px;
}

.footer-menu img{
  width: 100px;
  /* filter: brightness(0) invert(1); */
}
.footer-menu ul li a:hover{
  color: #f54a48;
}
.footer-menu i{
  font-size: 20px;
  background: linear-gradient(0deg, #f54a48 0.5%, #fa982f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 10px;
}
.footer-menu h4{
  color: #f57c48;
  margin-bottom: 26px;
}
.footer-menu a{
  color: #fff;
  padding: 0 !important;
}
.footer-menu p{
  padding: 0 78px 0 0;
}
.copyright {
  background: #150725;
  color: #fff;
  padding: 20px;
  display: flex !important; /* Enables flexbox */
  justify-content: center !important; /* Centers the content horizontally */
  align-items: center !important; /* Centers the content vertically */
}

.copyright a {
  color: #fff;
}


/* End of site wrap >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

/* Button Back to top */

#backToTopBtn{
  position: fixed;
  bottom: 20px;
  right: 30px;
  border: none;
  padding: 17px 20px;
  border-radius: 10px;
  transition: all 0.3s ease;
  color: #d12bec;
  cursor: pointer;
  z-index: 999999999999;
  display: none;
}

#backToTopBtn:hover{
color: #fff;
}


/* scrollbar full website */
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(42deg, #7436bb 0.01%, #b520a3 100%);
  border-radius: 5px;
}